<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device.width,initial-scale=1.0">
	 <title>new project</title>
</head>
<body>
   <h1> hi ,welcome to kubernates world </h1>
   {% for key,value in env.items() %}
   <p>{{key}}:{{value}}</p>
   {% endfor %}
</body>
<style>
    body {
	   background-color: black;
	}
	
	p {
	    text-align:left;
		font-size:20px;
		font-family:Arial,helvetica,sans-serif;
		color:white;
	}
	.centred {
	     margin: center;
		 font-size:30px;
	}
	
</style>   

</html>
